body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**
  |============================
  | RESET
  |============================
*/

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  background-color: inherit;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

input {
  font-family: inherit;
}

/**
  |============================
  | Text styles
  |============================
*/

.categoryTitle {
  margin-top: 10px;
  text-align: center;
  outline: transparent;
}


.categoryList {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.containerCheckbox {
  margin-left: 15px;
  align-items: center;
  display: flex;
  gap: 5px;
}

.link-hover {
  color: initial;
  transition: color 0.8s;
}

.link-hover:hover {
  color: rgb(168, 242, 7);
}

.logo {
  font-size: 25px;
  transition: font-size 0.5s ease, color 0.5s ease;
}

.logo:hover {
  font-size: 28px;
  color: rgb(168, 242, 7);
}

.homePage-text__title {
  font-size: 20px;
  text-align: center;
}